*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
a{
    display: block;
}
p a {
    display: inline;
}
img{
    display: block;
    width: 100%;
    height: initial;
}

.header{
    width: 100%;
    /* background-color: red; */
    padding: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:700px){
    .header{
        justify-content: center;
    }
}
.header .h1{
    /* background-color: pink; */
    max-width: 150px;
}
/* .header .h1 .a{}
.header .h1 .logo{}
.header .h1 .logo .img{} */
.header .nav{
    /* background-color: aqua; */
}
@media (max-width:700px){
    .header .nav{
        display: none;
    }
}
.header .nav .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.header .nav .ul .li{
    /* background-color: orange; */
}
/* .header .nav .ul .li .a{} */



.main{
    /* background-color: lightblue; */
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.inside{
    width: 100%;
    min-height: 80vh;
    /* background-color: aqua; */
    /* background-image: url(assets pixar/inside out fondo.jpeg); */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.inside .h2{
    width: 60%;
    max-width: 700px;
    min-height: 200px;
    /* background-color: orange; */
}
/* .inside .h2 .a{}
.inside .h2 .a .img{} */

.columns{
    /* background-color: brown; */
    width: 80%;
    min-height: 100px;
    margin: 50px auto;
    gap: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px){
    .columns{
        flex-direction: column;
    }
}

.columns .article{
    /* background-color: blueviolet; */
    width: 100%;
    gap: 20px;
}
.main .columns .article .h3{
    /* background-color: bisque; */
}
.main .columns .article .a .img{
    width: 100%;
    min-height: 100px;
    /* background-color: darkolivegreen; */
    margin: 0 0 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.footer{
    /* background-color: lightgray; */
    width: 100%;
    gap: 50px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.footer .rrss{
    /* background-color: lightpink; */
    width: 30%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 700px){
    .footer .rrss{
        flex-direction: column;
    }
}

.footer .rrss .li{
    /* background-color: aquamarine; */
}
.footer .rrss .li .a{}
.footer .rrss .li .a .img{}

.footer .policy{
    /* background-color: lightgreen; */
    width: 100%;
    max-width: 500px;
    gap: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

@media (max-width: 700px){
    .footer .policy{
        flex-direction: column;
    }
}
.footer .policy .li{
    /* background-color: beige; */
}
.footer .policy .li .a{}

.footer .copy{
    /* background-color: lightpink; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


